doctype html
html(lang="en")
  head
    <script data-main="scripts/main.js" src="scripts/require.js" type="text/javascript"></script>
    title Back and Front

  body
    #content_wrapper
      #content
        != body

